<?xml version="1.0"?>
<connectionStrings>
	<add name="StAbraamCon" connectionString="Data Source=SQL5069.site4now.net;Initial Catalog=DB_A6E768_MMalak;User Id=DB_A6E768_MMalak_admin;Password=M!ckL0ve" providerName="System.Data.SqlClient" />
	<add name="SaintAbraamEntities" connectionString="metadata=res://*/Domain.StAbraamFamily.csdl|res://*/Domain.StAbraamFamily.ssdl|res://*/Domain.StAbraamFamily.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5069.site4now.net;user id=DB_A6E768_MMalak_admin;password=M!ckL0ve;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
